main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main > div {
  width: 65%;
  height: 600px;
  margin-left: 7%;
  display: none;
}

main > div.active {
  display: block;
}

main > div .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
}

main > div .summary figcaption {
  width: 400px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main > div .summary figcaption h2 {
  font-size: 60px;
  font-weight: 500;
}

main > div .summary figcaption h2 span {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 60px;
  font-weight: 500;
}

main > div .summary figcaption p {
  font-family: 'Noto Sans KR', sans-serif;
  white-space: pre-line;
  color: #555;
}

main > div .summary figcaption > span {
  font-weight: 500;
  text-decoration: underline;
}

main > div .summary figcaption > span a {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
}

main > div .summary > p {
  width: 400px;
  height: 100%;
  margin-left: 7%;
}

main > div .summary > p img {
  height: 100%;
}

main > div > article {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #fff;
  display: none;
}

main > div > article.active {
  display: block;
}

main > div > article > section {
  width: 100%;
}

main > div > article > section.cover {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main > div > article > section.cover h2 {
  font-size: 160px;
  font-weight: 500;
}

main > div > article > section.cover p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
}

main > div > article > section.cover p:nth-of-type(2) {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  bottom: 60px;
  -webkit-animation: wheel 2s ease-in-out infinite;
          animation: wheel 2s ease-in-out infinite;
}

@-webkit-keyframes wheel {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes wheel {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

main > div > article > section.cover p.back_btn {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 123;
}

main > div > article > section.cover a {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  text-decoration: underline;
}

main > div > article > section.detail {
  padding: 0 10%;
  margin-top: 200px;
}

main > div > article > section.detail .detail_cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

main > div > article > section.detail .detail_cover .detail_title h3 {
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 60px;
}

main > div > article > section.detail .detail_cover .detail_title p {
  font-size: 32px;
  font-weight: 500;
}

main > div > article > section.detail .detail_cover .detail_title p span {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
}

main > div > article > section.detail .detail_cover section {
  width: 80%;
  padding: 40px 75px;
  border: 2px solid #000;
}

main > div > article > section.detail .detail_exp {
  width: 80%;
  margin-left: 20%;
}

main > div > article > section.detail .detail_exp section {
  position: relative;
  padding-left: 20%;
}

main > div > article > section.detail .detail_exp section:nth-of-type(1) {
  margin-bottom: 80px;
}

main > div > article > section.detail .detail_exp section h4 {
  position: absolute;
  top: 0;
  left: 0%;
  font-size: 24px;
  font-weight: 500;
}

main > div > article > section.detail .detail_exp section p {
  white-space: pre-line;
}

main > div > article > section.detail .detail_exp section p:nth-of-type(2n+1) {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  margin-bottom: 25px;
}

main > div > article > section.detail .detail_exp section p:nth-of-type(2n) {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 1.88;
  margin-bottom: 50px;
  color: #555;
}

main > div > article > section.detail_4 .detail_cover section p {
  width: 33px;
  height: 73px;
}

main nav {
  position: absolute;
  right: 140px;
  top: 110px;
  list-style: none;
}

main nav a {
  display: block;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

main nav a::before {
  content: '';
  display: inline-block;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 10px;
}
/*# sourceMappingURL=work.css.map */