html, body {
  margin: 0;
}

p, figure, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  outline: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Graphik' , 'Noto Sans KR', sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #000;
}

@media (min-width: 1025px) {
  header, main, footer {
    padding: 0 80px;
  }
  header {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 80px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .menu-trigger {
    z-index: 3;
    width: 50px;
    height: 35px;
  }
  header .menu-trigger.active span:first-child {
    width: 30px;
  }
  header .menu-trigger.active span:last-child {
    width: 50px;
  }
  header .menu-trigger span {
    display: block;
    height: 2px;
    background-color: #000;
    -webkit-transition: .5s;
    transition: .5s;
  }
  header .menu-trigger span:first-child {
    width: 50px;
    margin-top: 10px;
  }
  header .menu-trigger span:last-child {
    width: 30px;
    margin-top: 7px;
  }
  header .copy p {
    text-align: right;
    white-space: pre-line;
  }
  header .copy p:first-child {
    font-size: 24px;
  }
  header .copy p:last-child {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #555555;
  }
  header .menu {
    position: fixed;
    left: 0;
    top: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
  }
  header .menu.active {
    top: 0;
  }
  header .menu .menu_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .menu .menu_nav > a {
    font-size: 150px;
    font-weight: bold;
    margin: 50px 0;
  }
  header .menu .menu_nav > a:hover {
    text-decoration: line-through;
  }
  header .menu .contact {
    position: absolute;
    right: 80px;
    bottom: 80px;
    width: 20%;
  }
  header .menu .contact p {
    text-align: right;
  }
  header .menu .contact p:nth-of-type(2n+1) {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
  }
  header .menu .contact p:nth-of-type(2n) {
    font-size: 24px;
    margin-bottom: 35px;
  }
  header .menu .contact p:nth-of-type(1) {
    font-family: 'Noto Sans KR', sans-serif;
  }
  header .menu .contact p.qr {
    width: 100%;
    height: 100px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .menu .contact p.qr img {
    width: 100px;
  }
  header .menu .contact nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 50px;
  }
  header .menu .contact nav a {
    text-decoration: underline;
    margin-left: 30px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: 0;
    bottom: 80px;
  }
  footer p {
    color: #555555;
  }
  footer nav a {
    margin-left: 30px;
    text-decoration: underline;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  header, footer {
    padding: 0 7%;
  }
  * {
    font-size: 14px;
  }
  header {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 7%;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header.active {
    z-index: 6;
  }
  header .menu-trigger {
    z-index: 3;
    width: 50px;
    height: 35px;
  }
  header .menu-trigger.active span:first-child {
    width: 20px;
  }
  header .menu-trigger.active span:last-child {
    width: 35px;
  }
  header .menu-trigger span {
    display: block;
    height: 2px;
    background-color: #000;
    -webkit-transition: .5s;
    transition: .5s;
  }
  header .menu-trigger span:first-child {
    width: 35px;
    margin-top: 10px;
  }
  header .menu-trigger span:last-child {
    width: 20px;
    margin-top: 7px;
  }
  header .copy p {
    text-align: right;
    white-space: pre-line;
  }
  header .copy p:first-child {
    font-size: 16px;
  }
  header .copy p:last-child {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #555555;
  }
  header .menu {
    position: fixed;
    left: 0;
    top: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0 10%;
    background-color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
  }
  header .menu.active {
    top: 0;
  }
  header .menu .menu_nav {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 17%;
  }
  header .menu .menu_nav > a {
    font-size: 56px;
    font-weight: bold;
    margin: 20px 0;
  }
  header .menu .menu_nav > a:hover {
    text-decoration: line-through;
  }
  header .menu .contact {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .menu .contact p {
    text-align: right;
  }
  header .menu .contact p:nth-of-type(2n+1) {
    font-size: 16px;
    margin-bottom: 5px;
  }
  header .menu .contact p:nth-of-type(2n) {
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 25px;
  }
  header .menu .contact p:nth-of-type(1) {
    font-family: 'Noto Sans KR', sans-serif;
  }
  header .menu .contact p.qr {
    width: 100%;
    height: 100px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .menu .contact p.qr img {
    width: 100px;
  }
  header .menu .contact nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 50px;
  }
  header .menu .contact nav a {
    font-size: 14px;
    text-decoration: underline;
    margin-left: 30px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: 0;
    bottom: 5%;
  }
  footer p {
    font-size: 12px;
    color: #555555;
  }
  footer nav:nth-of-type(1) {
    display: none;
  }
  footer nav a {
    margin-left: 30px;
    font-size: 14px;
    text-decoration: underline;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  header, footer {
    padding: 0 7%;
  }
  header {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 7%;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header.active {
    z-index: 6;
  }
  header .menu-trigger {
    z-index: 3;
    width: 50px;
    height: 35px;
  }
  header .menu-trigger.active span:first-child {
    width: 20px;
  }
  header .menu-trigger.active span:last-child {
    width: 35px;
  }
  header .menu-trigger span {
    display: block;
    height: 2px;
    background-color: #000;
    -webkit-transition: .5s;
    transition: .5s;
  }
  header .menu-trigger span:first-child {
    width: 35px;
    margin-top: 10px;
  }
  header .menu-trigger span:last-child {
    width: 20px;
    margin-top: 7px;
  }
  header .copy p {
    text-align: right;
    white-space: pre-line;
  }
  header .copy p:first-child {
    font-size: 16px;
  }
  header .copy p:last-child {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #555555;
  }
  header .menu {
    position: fixed;
    left: 0;
    top: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    background-color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
  }
  header .menu.active {
    top: 0;
  }
  header .menu .menu_nav {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .menu .menu_nav > a {
    font-size: 64px;
    font-weight: bold;
    margin: 50px 0;
  }
  header .menu .menu_nav > a:hover {
    text-decoration: line-through;
  }
  header .menu .contact {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .menu .contact p {
    text-align: right;
  }
  header .menu .contact p:nth-of-type(2n+1) {
    font-size: 16px;
    margin-bottom: 5px;
  }
  header .menu .contact p:nth-of-type(2n) {
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 35px;
  }
  header .menu .contact p:nth-of-type(1) {
    font-family: 'Noto Sans KR', sans-serif;
  }
  header .menu .contact p.qr {
    width: 100%;
    height: 100px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .menu .contact p.qr img {
    width: 100px;
  }
  header .menu .contact nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 50px;
  }
  header .menu .contact nav a {
    text-decoration: underline;
    margin-left: 30px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: 0;
    bottom: 5%;
  }
  footer p {
    font-size: 12px;
    color: #555555;
  }
  footer nav:nth-of-type(1) {
    display: none;
  }
  footer nav a {
    margin-left: 30px;
    text-decoration: underline;
  }
}
/*# sourceMappingURL=common.css.map */